In [1]:
import pandas as pd
from os import listdir
from os.path import isfile, isdir, join

In [2]:
folder_theme = {"CC": "cloud_cover_", "QQ": "global_radiation_", "TX": "max_temp_", "FX": "wind_gust_", \
                "TG": "mean_temp_", "FG": "mean_wind_speed_", "SS": "sunshine_duration_", "DD": "wind_direction_"}

In [3]:
df= pd.DataFrame()

In [4]:
current_path = "test_datasets/Daily global radiation QQ "
folders = [f for f in listdir(current_path) if isdir(join(current_path, f))]

In [5]:
only_files = [f for f in listdir(current_path) if isfile(join(current_path, f))]

In [6]:
#for fn in only_files:
    #print("mesure:", fn[:2], "- station_id:", fn[8:-3])

In [7]:
def clean_dataframe(df, col_name):
    """Clean the dataset, remove unneeded columns, NaNs, strange values..."""
    # remove columns full of NaNs, corresponding to several spaces in the txt file
    df = df.dropna(axis=1, how='all')
    # rename them
    df = df.rename(columns={2: "date", 3: col_name})
    # remove comas
    try:
        df[col_name] = df[col_name].str.replace(",", "")
    except:
        pass
    # drop lines with nan
    df = df.dropna()
    # convert type as int
    df[col_name] = df[col_name].astype(int)
    # keep interesting lines & cols
    df = df[df[col_name] != -9999]
    df = df[["date", col_name]]
    # convert into date
    #df.date = df.date.apply(lambda s: s.split(',')[1])
    df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')
    return df

In [28]:
df_temp = pd.read_csv(join(current_path, 'QQ_STAID000034.txt'), header=None, error_bad_lines=False)

In [29]:
df_temp = clean_dataframe(df_temp, "0034")
df_temp.head(2)

        date  0034
0 1978-01-02    21
1 1978-01-03    34

In [30]:
df_temp.tail(2)

            date  0034
15245 2019-09-29   184
15246 2019-09-30   108

In [ ]:
for fn in only_files:
    print(fn)
    column_name = folder_theme[fn[:2]] + fn[8:-3]
    df_temp = pd.read_csv(join(current_path, fn), header=None)
    df_temp = clean_dataframe(df_temp, column_name)
    df = pd.concat([df, df_temp], axis=1, sort=False)

df.head()

In [31]:
df_bis = pd.read_csv(join(current_path, 'QQ_STAID000015.txt'), header=None, error_bad_lines=False)
df_bis = clean_dataframe(df_bis, "0015")
df_bis.head(2)

        date  0015
0 1964-01-02    87
1 1964-01-03    88

In [32]:
df_bis.tail(2)

            date  0015
20086 2018-12-30    33
20087 2018-12-31    32

In [22]:
df_temp.shape

(15206, 2)

In [23]:
df_bis.shape

(19449, 2)

In [34]:
result = pd.merge(df_temp, df_bis, how='outer').sort_values(by='date') 
result

            date   0034  0015
15206 1964-01-02    NaN  87.0
15207 1964-01-03    NaN  88.0
15208 1964-01-04    NaN  90.0
15209 1964-01-05    NaN  91.0
15210 1964-01-06    NaN  91.0
...          ...    ...   ...
15201 2019-09-25  135.0   NaN
15202 2019-09-26  108.0   NaN
15203 2019-09-27  149.0   NaN
15204 2019-09-29  184.0   NaN
15205 2019-09-30  108.0   NaN

[20334 rows x 3 columns]

---

In [ ]:
from os import listdir
from os.path import isfile, isdir, join, exists

In [ ]:
def remove_useless_files(folder, file_list):
    for f in file_list:
        file_path = join(folder, f)
        if exists(file_path):
          os.remove(file_path)

In [ ]:
remove_useless_files("Daily_cloud_cover_CC", ["elements.txt", "sources.txt", "stations.txt"])

In [ ]:
# launch the script in the folder
folder = "Daily_cloud_cover_CC"

os.remove("elements.txt")



# list all files that need to be edited

only_files = [f for f in listdir(folder_path) if isfile(join(folder_path, f))]
print("Start editing files in current folder :\t", current_folder)

# remove headers ie 21 first lines
for f in only_files:
    file_path = join(folder_path, f)
    with open(file_path, 'r') as fin:
        data = fin.read().splitlines(True)
    with open(file_path, 'w') as fout:
        fout.writelines(data[22:])