In [14]:
import pandas as pd

In [15]:
!ls

 Daily_cloud_cover_CC	       merge_files_bis.ipynb   sf.py
'Daily global radiation QQ '   merge_files.ipynb

In [32]:
df_test = pd.read_csv("./Daily_cloud_cover_CC/CC_STAID000001.txt", sep=" ", header=None)

In [33]:
!head -n 2 ./Daily_cloud_cover_CC/CC_STAID000001.txt

     1, 41384,19610102,    8,    0
     1, 41384,19610103,    8,    0

In [34]:
def clean_dataframe(df, col_name):
    """Clean the dataset, remove unneeded columns, NaNs, strange values..."""
    # remove columns full of NaNs, corresponding to several spaces in the txt file 
    df = df.dropna(axis=1, how='all')
    # keep only relevant cols
    df = df.iloc[:, [1, 3]]
    # rename them
    df = df.rename(columns={6: "date", 10: col_name})
    # remove comas
    df[col_name] = df[col_name].str.replace(",", "")
    # drop lines with nan
    df = df.dropna()
    # convert type as int
    df[col_name] = df[col_name].astype(int)
    # remove weird values
    df = df[df[col_name] >= 0]
    # convert into date
    df.date = df.date.apply(lambda s: s.split(',')[1])
    df['date'] = pd.to_datetime(df['date'])
    return df

In [35]:
df_test = clean_dataframe(df_test, "cloud_cover")
df_test.head()

        date  cloud_cover
0 1961-01-02            8
1 1961-01-03            8
2 1961-01-04            8
3 1961-01-05            8
4 1961-01-06            8

In [36]:
df_tt = pd.read_csv("./Daily_cloud_cover_CC/CC_STAID000002.txt", sep=" ", header=None)

In [38]:
df_tt = clean_dataframe(df_tt, "cloud_cover_1")

In [40]:
df_tt.head()

        date  cloud_cover_1
0 1961-01-02              8
1 1961-01-03              8
2 1961-01-04              8
3 1961-01-05              8
4 1961-01-06              8

In [41]:
df_test.cloud_cover.sum()

148103

In [42]:
df_tt.cloud_cover_1.sum()

144140

In [44]:
df_test.shape

(21445, 2)

In [45]:
df_tt.shape

(21424, 2)

In [47]:
df_c = pd.concat([df_test, df_tt], axis=1, sort=False)
df_c.head()

        date  cloud_cover       date  cloud_cover_1
0 1961-01-02          8.0 1961-01-02            8.0
1 1961-01-03          8.0 1961-01-03            8.0
2 1961-01-04          8.0 1961-01-04            8.0
3 1961-01-05          8.0 1961-01-05            8.0
4 1961-01-06          8.0 1961-01-06            8.0

In [48]:
df_c.columns

Index(['date', 'cloud_cover', 'date', 'cloud_cover_1'], dtype='object')

In [49]:
df_c.shape

(21456, 4)

In [50]:
df_c.isnull().sum()

date             11
cloud_cover      11
date             32
cloud_cover_1    32
dtype: int64

In [52]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21456 entries, 0 to 21455
Data columns (total 4 columns):
date             21445 non-null datetime64[ns]
cloud_cover      21445 non-null float64
date             21424 non-null datetime64[ns]
cloud_cover_1    21424 non-null float64
dtypes: datetime64[ns](2), float64(2)
memory usage: 838.1 KB

In [1]:
!ls

 Daily_cloud_cover_CC	       merge_files_bis.ipynb   sf.py
'Daily global radiation QQ '   merge_files.ipynb

In [10]:
from os import listdir
from os.path import isfile, isdir, join, exists

In [11]:
def remove_useless_files(folder, file_list):
    for f in file_list:
        file_path = join(folder, f)
        if exists(file_path):
          os.remove(file_path)

In [12]:
remove_useless_files("Daily_cloud_cover_CC", ["elements.txt", "sources.txt", "stations.txt"])

NameError: name 'os' is not defined

In [ ]:
# launch the script in the folder
folder = "Daily_cloud_cover_CC"

os.remove("elements.txt")



# list all files that need to be edited

only_files = [f for f in listdir(folder_path) if isfile(join(folder_path, f))]
print("Start editing files in current folder :\t", current_folder)

# remove headers ie 21 first lines
for f in only_files:
    file_path = join(folder_path, f)
    with open(file_path, 'r') as fin:
        data = fin.read().splitlines(True)
    with open(file_path, 'w') as fout:
        fout.writelines(data[22:])

In [62]:
name CC + station id

SyntaxError: invalid syntax (<ipython-input-62-f4d1aa0c706f>, line 1)