In [58]:
import pandas as pd
from os import listdir
from os.path import isfile, isdir, join

In [59]:
folder_theme = {"CC": "cloud_cover_", "QQ": "global_radiation_", "TX": "max_temp_", "FX": "wind_gust_", \
                "TG": "mean_temp_", "FG": "mean_wind_speed_", "SS": "sunshine_duration_", "DD": "wind_direction_"}

In [60]:
df= pd.DataFrame()

In [61]:
current_path = "test_datasets/Daily global radiation QQ "
folders = [f for f in listdir(current_path) if isdir(join(current_path, f))]

In [62]:
only_files = [f for f in listdir(current_path) if isfile(join(current_path, f))]

In [64]:
#for fn in only_files:
    #print("mesure:", fn[:2], "- station_id:", fn[8:-3])

In [70]:
def clean_dataframe(df, col_name):
    """Clean the dataset, remove unneeded columns, NaNs, strange values..."""
    # remove columns full of NaNs, corresponding to several spaces in the txt file
    df = df.dropna(axis=1, how='all')
    # rename them
    df = df.rename(columns={2: "date", 3: col_name})
    # remove comas
    try:
        df[col_name] = df[col_name].str.replace(",", "")
    except:
        pass
    # drop lines with nan
    df = df.dropna()
    # convert type as int
    df[col_name] = df[col_name].astype(int)
    # keep interesting lines & cols
    df = df[df[col_name] != -9999]
    df = df[["date", col_name]]
    # convert into date
    #df.date = df.date.apply(lambda s: s.split(',')[1])
    df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')
    return df

In [71]:
df_temp = pd.read_csv(join(current_path, 'QQ_STAID000034.txt'), header=None, error_bad_lines=False)
df_temp.head()

    0      1         2   3  4
0  34  90866  19780102  21  0
1  34  90866  19780103  34  0
2  34  90866  19780104  34  0
3  34  90866  19780105  80  0
4  34  90866  19780106  85  0

In [72]:
df_temp = clean_dataframe(df_temp, "123")
df_temp.head()

        date  123
0 1978-01-02   21
1 1978-01-03   34
2 1978-01-04   34
3 1978-01-05   80
4 1978-01-06   85

In [73]:
for fn in only_files:
    print(fn)
    column_name = folder_theme[fn[:2]] + fn[8:-3]
    df_temp = pd.read_csv(join(current_path, fn), header=None)
    df_temp = clean_dataframe(df_temp, column_name)
    df = pd.concat([df, df_temp], axis=1, sort=False)

df.head()

QQ_STAID000029.txt
QQ_STAID000034.txt
QQ_STAID000012.txt
QQ_STAID000013.txt
QQ_STAID000014.txt
QQ_STAID000021.txt
QQ_STAID000016.txt
QQ_STAID000032.txt
QQ_STAID000033.txt
QQ_STAID000017.txt
QQ_STAID000028.txt
QQ_STAID000015.txt

,date,global_radiation_000029.,date,global_radiation_000034.,date,global_radiation_000012.,date,global_radiation_000013.,date,global_radiation_000014.,...,date,global_radiation_000032.,date,global_radiation_000033.,date,global_radiation_000017.,date,global_radiation_000028.,date,global_radiation_000015.
0,1991-01-02,4.0,1978-01-02,21.0,1964-01-02,61.0,1969-01-02,11.0,1964-01-02,41.0,...,1987-03-02,48.0,NaT,NaN,1964-01-02,48.0,1964-01-02,5.0,1964-01-02,87.0
1,1991-01-03,2.0,1978-01-03,34.0,1964-01-03,58.0,1969-01-03,12.0,1964-01-03,68.0,...,1987-03-03,28.0,NaT,NaN,1964-01-03,44.0,1964-01-03,3.0,1964-01-03,88.0
2,1991-01-04,2.0,1978-01-04,34.0,1964-01-04,56.0,1969-01-04,65.0,1964-01-04,70.0,...,1987-03-04,71.0,NaT,NaN,1964-01-04,18.0,1964-01-04,11.0,1964-01-04,90.0
3,1991-01-05,1.0,1978-01-05,80.0,1964-01-05,44.0,1969-01-05,74.0,1964-01-05,70.0,...,1987-03-05,121.0,NaT,NaN,1964-01-05,9.0,1964-01-05,24.0,1964-01-05,91.0
4,1991-01-06,2.0,1978-01-06,85.0,1964-01-06,37.0,1969-01-06,68.0,1964-01-06,22.0,...,1987-03-06,117.0,NaT,NaN,1964-01-06,21.0,1964-01-06,7.0,1964-01-06,91.0

In [ ]:
df_test = pd.read_csv("./Daily_cloud_cover_CC/CC_STAID000001.txt", sep=" ", header=None)

In [ ]:
df_test = clean_dataframe(df_test, "cloud_cover")
df_test.head()

In [ ]:
df_tt = pd.read_csv("./Daily_cloud_cover_CC/CC_STAID000002.txt", sep=" ", header=None)

In [ ]:
df_tt = clean_dataframe(df_tt, "cloud_cover_1")

In [ ]:
df_tt.head()

In [ ]:
df_test.cloud_cover.sum()

In [ ]:
df_tt.cloud_cover_1.sum()

In [ ]:
df_test.shape

In [ ]:
df_tt.shape

In [ ]:
df_c = pd.concat([df_test, df_tt], axis=1, sort=False)
df_c.head()

In [ ]:
df_c.columns

In [ ]:
df_c.shape

In [ ]:
df_c.isnull().sum()

In [ ]:
df_c.info()

In [ ]:
!ls

In [ ]:
from os import listdir
from os.path import isfile, isdir, join, exists

In [ ]:
def remove_useless_files(folder, file_list):
    for f in file_list:
        file_path = join(folder, f)
        if exists(file_path):
          os.remove(file_path)

In [ ]:
remove_useless_files("Daily_cloud_cover_CC", ["elements.txt", "sources.txt", "stations.txt"])

In [ ]:
# launch the script in the folder
folder = "Daily_cloud_cover_CC"

os.remove("elements.txt")



# list all files that need to be edited

only_files = [f for f in listdir(folder_path) if isfile(join(folder_path, f))]
print("Start editing files in current folder :\t", current_folder)

# remove headers ie 21 first lines
for f in only_files:
    file_path = join(folder_path, f)
    with open(file_path, 'r') as fin:
        data = fin.read().splitlines(True)
    with open(file_path, 'w') as fout:
        fout.writelines(data[22:])

In [ ]:
name CC + station id